.menu_icon {
    width: 24px;
    height: 24px;
    color: var(--hamburger);
}

.page_header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 -1px 0 0 var(--header-shadow);
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--background);
    /*box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);*/
    z-index: 990; /* Ensure header is above other content */
    background-position: top !important;
    background-size: cover !important;
}

.page_header_scrolled_down {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2) !important;
}

.menu_button {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    outline: none;
}

.menu_button:hover {
    background-color: var(--button-hover);
    opacity: 0.9;
}

.menu_button:focus {
    background-color: var(--button-hover);
}

.logo {
    width: 40px;
    height: 40px;
}

.logo_link {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.selected_text {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.title {
    font-size: 23px;
    margin-left: 12px;
    color: var(--foreground);
}

.title2 {
    font-size: 1.375rem;
    margin-left: 12px;
    color: var(--foreground)
}

.page_header_left {
    display: flex;
    align-items: center;
    width: 100%;
}

.search_note_container {
    background-color: var(--search);
    border-radius: 8px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    width: 63%;
    /*width: 720px;*/
    padding-left: 10px;
    padding-right: 10px;
}

.search_icon {
    width: 23px;
    height: 23px;
    color: var(--search-bar-icons);
}

.close_icon {
    width: 23px;
    height: 23px;
    color: var(--search-bar-icons);
}

.refresh_icon {
    width: 24px;
    height: 24px;
    color: var(--icons);
}

.list_icon {
    width: 24px;
    height: 24px;
    color: var(--icons);
}

.settings_icon {
    width: 24px;
    height: 24px;
    color: var(--icons);
}

.search_input {
    width: 100%;
    flex: 1;
    padding-left: 9px;
    outline: none;
}

.search_input::placeholder {
    color: var(--search-input);
}

.search_input::-webkit-input-placeholder {
    color: var(--search-input);
}

.search_input:-ms-input-placeholder {
    color: var(--search-input);
}

.search_input::-ms-input-placeholder {
    color: var(--search-input);
}

.search_input::-moz-placeholder {
    color: var(--search-input);
}

.search_button {
    padding: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 50px;
    outline: none;
}

.search_button:hover {
    background-color: var(--button-hover);
    opacity: 0.9;
}

.close_button {
    padding: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 50px;
    outline: none;
}

.close_button:hover {
    background-color: var(--button-hover);
    opacity: 0.9;
}

.header_action_button {
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    outline: none;
}

.header_action_button:hover {
    background-color: var(--button-hover);
    opacity: 0.9;
}

.profile_image {
    width: 32px;
    height: 32px;
    border-radius: 50px;
}

.profile_image_container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 50px;
}

.profile_image_container:hover {
    background-color: rgba(232,234,237,.08);
    opacity: 0.9;
}

.profile_container {
    display: flex;
    align-items: center;
    margin-left: 42px;
}

.page_header_right {
    display: flex;
    align-items: center;
}

.header_actions {
    display: flex;
    align-items: center;
}

.mlr_6 {
    margin-left: 6px;
    margin-right: 6px;
}

.ml_6 {
    margin-left: 6px;
}

.menu_icon_disabled {
    opacity: .90 !important;
}

@media only screen and (max-width: 611px){
    .profile_container {
        margin-left: 5px;
    }
}

@media only screen and (min-width: 1500px){
    .search_note_container {
        width: 720px !important;
    }
}