.toolbar {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 -1px 0 0 rgb(95, 99, 104);
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--background);
    box-shadow: 0 4px 5px #00000024, 0 1px 10px #0000001f, 0 2px 4px -1px #0003, 0 -2px 4px -1px #0003;
    z-index: 888; /* Ensure header is above other content */
    background-position: bottom;
    background-size: cover !important;
}

.toolbar_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar_center {
    text-align: center;
    color: var(--foreground-text);
    font-size: .89rem;
}

.toolbar_right {
    width: 96px;
    display: flex;
    justify-content: flex-end;
}