.find_your_account_page_root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.auth_container {
    width: 502px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 553px) { 
    .find_your_account_page_root {
        padding: 0px 13px 0px 13px;
    }
}