.container {
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 46px !important;
}

.pinned_section {
    width: 100%;
}

.others_section {
    width: 100%;
    margin-top: 20px;
}

.section_label {
    color: #9aa0a6;
    line-height: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 8px;
    display: flex;
}

.section_label_text {
    color: var(--section-label);
}

.notes_grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: auto;
}

.my_masonry_grid_column {
    width: 240px !important;
    background-clip: padding-box;
    margin-left: 4px;
    margin-right: 4px;
}

.note_card {
    background-color: var(--note-card);
    border: 1px solid var(--note-card-border);
    margin-bottom: 8px;
    border-radius: 8px;
    width: 240px;
    min-height: 109.6px;
    break-inside: avoid;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: border 0.3s ease;
    background-position-x: right;
    background-position-y: bottom;
    background-size: cover;
    border-radius: 8px;
    -webkit-transition-duration: .218s;
    transition-duration: .218s;
    -webkit-transition-property: background, border, opacity, -webkit-box-shadow, -webkit-transform;
    -webkit-transition-property: background, border, opacity, box-shadow, -webkit-transform;
    transition-property: background, border, opacity, box-shadow, -webkit-transform;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-property: background, border, opacity, box-shadow, transform, -webkit-transform;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}  

.note_selected {
    border: 2px solid var(--note-card-selected) !important;
}

.note_card_content {
    padding: 12px 0px 12px 0px;
    font-size: 11pt;
    color: var(--note-title-content);
}

.note_title {
    font-size: 20px;
    padding-right: 40px;
    color: var(--note-title-content);
}

.note_card_top {
    padding: 12px 16px 12px 16px;
}

.note_card_bottom {

}

.note_card_top_title_div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    cursor: default;
}

.check_icon_div {
    width: 20px;
    height: 20px;
    background: var(--check-icon-div);
    position: absolute;
    top: -7px;
    left: -7px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease;
    opacity: 0;
    cursor: pointer;
}

.check_icon_div_active {
    visibility: visible !important;
    opacity: 1 !important;
}

.check_icon {
    width: 17px;
    height: 17px;
    color: var(--check-icon);
}

.vertical_dots_icon {
    width: 24px;
    height: 24px;
    color: var(--editor-icons);
}

.pinned_and_unpinned_icon {
    width: 24px;
    height: 24px;
    color: var(--icons);
}

.more_button {
    width: 34px;
    height: 34px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
    right: 12px;
    cursor: pointer;
}

.more_button:hover {
    background-color: var(--button-hover);
    opacity: 0.9;
}

.more_button:focus {
    background-color: var(--more-btn-focus);
}


.note_card:hover .more_button {
    opacity: 1;
    visibility: visible;
}

.note_card:hover .check_icon_div {
    opacity: 1;
    visibility: visible;
}

.note_card:focus .check_icon_div {
    opacity: 1;
    visibility: visible;
}

.note_card:hover {
    box-shadow: 0 1px 2px #0009, 0 2px 6px 2px #0000004d;
}

.pinned_and_unpinned_button {
    width: 34px;
    height: 34px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
    right: 12px;
    cursor: pointer;
}

.pinned_and_unpinned_button_active {
    visibility: visible !important;
    opacity: 1 !important;
}

.pinned_and_unpinned_button:hover {
    background-color: var(--button-hover);
    opacity: 0.9;
}

.pinned_and_unpinned_button:focus {
    background-color: #e8eaed1a;
}


.note_card:hover .pinned_and_unpinned_button {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 611.9px){
    .container {
        padding: 0px;
    }

    .section_label {
        width: 100%;
        padding-left: 10px;
        justify-content: flex-start;
    }

    .note_card {
        width: 100% !important;
    }

    .my_masonry_grid_column {
        width: 100% !important;
        margin: 0px;
        padding: 0px;
    }

    .note_card {
        margin-bottom: 8px;
    }

    .notes_grid {
        display: contents;
    }
}

@media only screen and (max-width: 843.9px){
    .container {
        padding-left: 16px;
        padding-right: 16px;
        width: 494px;
    }
}

@media only screen and (max-width: 1097px){
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .notes_grid {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1040px){
    .notes_grid {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1500px){
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }

    .notes_grid {
        justify-content: flex-start;
        margin-left: 0;
        display: flex;
    }

    .section_label {
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1500px){
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 843px) and (max-width: 1039px) {
    .section_label_text {
        width: 720px;
        padding-left: 8px;
    }
}

@media screen and (max-width: 842.9px) {
    .container {
        width: 494px !important;
    }
}

@media only screen and (max-width: 320px){
    .section_label_text {
        width: 100% !important;
    }
}

@media screen and (min-width: 1040px) and (max-width: 1619px) {
    .section_label_text {
        width: 960px;
        padding-left: 8px;
    }
}

@media screen and (min-width: 1500.9px) {
    .section_label {
        justify-content: flex-start;
    }

    .section_label_text {
        width: 100% !important;
        padding-left: 20px;
    }
}

@media screen and (max-width: 1619px) {
    .container {
        margin: auto;
        width: 991px;
        padding: 0px !important;
    }
}

@media screen and (min-width: 1620px) {
    .container {
        margin: auto;
        width: 92.5%;
        padding: 0px !important;
    }
}

@media screen and (max-width: 1039.9px) {
    .container {
        width: 742px;
    }

    .section_label {
        padding-left: 20px;
    }
}

@media screen and (max-width: 524px) {
    .container {
        width: 100% !important;
        padding: 0px 8px !important;
        margin-top: 24px !important;
    }

    .check_icon_div {
        left: -2px;
    }
}